body {
  height: 100vh;
}

.grid-container {
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0%;
  grid-template-areas: 
    "box1 box1 box2 box9 box9"
    "box3 box4 box5 box9 box9"
    "box6 box7 box8 box9 box9";
  height: 100vh;
}

.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;

 
}

.box1 {
  grid-area: box1;
  background-color: #346288;
}

h3 {
  font-size: 1.5rem;
}

.box1 p{
 font-size: 1.5rem;
}

.box2 {
  background-color: #393026;
  grid-area: box2;

}

.box3 {
  background-color: #D99900;
  grid-area: box3;
}

.box4 {
  background-color: #665B40;
  grid-area: box4;
}

.box5 {
  grid-area: box5;
  background-color: #A79B7D;
}

.box6 {
  grid-area: box6;
  background-color: #393026;
}

.box7 {
  grid-area: box7;
  background-color: #346288;

}

.box8 {
  grid-area: box8;
  background-color: #D99900;
}

.box9 {
  grid-area: box9;
  background-image: url(assets/worf-wb.jpg);
  background-size: cover;
  object-fit: cover;
}

@media screen and (max-width: 1100px){
  .grid-container {
    grid-template-areas: 
    "box1"
    "box9"
    "box9"
    "box9"
    "box2"
    "box3"
    "box4"
    "box5"
    "box6"
    "box7"
    "box8";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 200vh;

}
} 